.kdmath {
  width: 95%;
  align-self: center;
  overflow-x: auto;
}

.qed {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 1rem;
  font-style: italic;
}
