h1, h2 {
  margin-top: $post-text-margin-wide;
  margin-bottom: $post-text-margin-narrow;
}

h1 {
  font-size: $font-size-title;
}

h2 {
  font-size: $font-size-heading;
}

header .abstract, article p, .kdmath {
  font-size: $font-size-content;
}

header .post-date {
  font-size: $font-size-small;
}

article img, article .kdmath {
  margin: $post-text-margin-wide auto;
}

header, main {
  margin: $post-text-margin-wide $post-side-margin $post-text-margin-narrow $post-side-margin ;
}
