@import 'theme_common';
@import 'post_small';
@import 'post_medium';
@import 'post_large';

p {
  text-align: justify;
  margin: 0;
}

article > h2:first-child {
  margin-top: 0;
}

header {
  .post-date {
    color: $color-text-faded;
    label {
      display: inline-block;
    }
  }

  .abstract {
    font-style: italic;
  }
}

hr {
  margin: $post-text-margin-narrow $post-side-margin;
  width: 90%;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  p {
    width: 100%;
  }

  img {
    display: block;
  }

  img.small {
    width: 40%;
  }

  .kdmath {
    display: block;
    width: 95%;
    align-self: center;
    overflow-x: auto;
  }

}
