$font-size-title: 1.8rem;
$font-size-heading: 1.5rem;
$font-size-content: 1rem;
$font-size-small: .9rem;
$post-side-margin: 20px;
$post-text-margin-wide: 20px;
$post-text-margin-narrow: 10px;
$global-content-max-width: 1400px;
