$font-size-title: 1.8rem;
$font-size-heading: 1.5rem;
$font-size-content: 1rem;
$font-size-note: .9rem;

$post-side-margin: 5vw;
$post-text-margin-wide: 3vh;
$post-text-margin-narrow: 1.5vh;

$global-content-max-width: 1400px;
